{% extends "base.html" %}
{% block content %}
<h2 class="mt-4">Resources & Certificates</h2>
<p>Download product catalogs, certificates and presentations.</p>
<ul>
  <li><a href="/static/docs/Securefire_Product_Catalog.pdf" target="_blank">Product Catalog</a></li>
  <li><a href="/static/docs/SECUREFIRE._PRESENTATION.pdf" target="_blank">Company Presentation</a></li>
  <li><a href="/static/docs/ONE%20PAGER.%20TIFI%20FIRE%20ENTRY%20SUIT.%20with%20SSIPL%20DETAILS.pdf" target="_blank">TiFi One-Pager</a></li>
  <li><a href="/static/docs/TIFI%2024.pdf" target="_blank">Trademark/Cert (TIFI 24)</a></li>
  <li><a href="/static/docs/TIFI%2035.pdf" target="_blank">Trademark/Cert (TIFI 35)</a></li>
  <li><a href="/static/docs/TIFI%20FIRE%20ENTRY%20SUIT-%20WHY%20TO%20BUY%20(2).pdf" target="_blank">Why to Buy - TiFi</a></li>
  <li><a href="/static/docs/SECUREFIRE.%2025.pdf" target="_blank">Certificate - SECUREFIRE 25</a></li>
</ul>
{% endblock %}